// site-wide

$bg = #000
$fg = #eee
$zebra = #1c1c1c

html
  background-color: $bg
  color: $fg
  text-align: left

body
  width: 800px
  margin: 15px auto 15px auto
  padding: 20px
  border: 3px double white
  text-align: left

a
  color: #88f
a:active
  color: #f22
a:visited
  color: #f8f

.clear
  clear: both
  

// thread index

#thread-index
  .header 
    background-color: $zebra
    font-weight: bold
    color: #fff
    text-decoration: underline
    
  .index-title
    text-align: center
    font-size: 16pt
    font-weight: bold
    padding: 0px 0px 15px 0px

  .thread
    clear: both
    padding: 5px
    //margin: 10px auto 10px auto
  
    .title,
    .posts,
    .author,
    .last-author,
    .last-post
      display: inline-block
      //padding: 5px 0px 5px 0px
      //border: 1px solid red
  
    .title 
      width: 45%
    .posts
      width: 10%
    .author
      width: 12%
    .last-author
      width: 12%
    .last-post
      width: 15%
      text-align: right

  .odd 
    background-color: #181818

// thread page

.thread-title
  text-align: center
  font-size: 16pt
  font-weight: bold
  padding: 0px 0px 15px 0px

.post 
  clear: both
  padding: 5px
  margin: 15px
  border: 1px dotted #050
  
  .body
    float: right
    width: 75%


  

// pager

.pagination
  text-align: center
  margin: 10px 0px 10px 0px

  a,span
    text-decoration: none
    font-weight: bold
    display: inline-block
    padding: 2px 5px 2px 5px
    margin: 2px

  .current
    border: 1px solid #666