html {
  background-color: black;
  color: #eeeeee;
  text-align: left; }

body {
  width: 800px;
  margin: 15px auto 15px auto;
  padding: 20px;
  border: 3px double white;
  text-align: left; }

a {
  color: #8888ff; }

a:active {
  color: #ff2222; }

a:visited {
  color: #ff88ff; }

.clear {
  clear: both; }

#thread-index .header {
  background-color: #1c1c1c;
  font-weight: bold;
  color: white;
  text-decoration: underline; }
#thread-index .index-title {
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  padding: 0px 0px 15px 0px; }
#thread-index .thread {
  clear: both;
  padding: 5px; }
  #thread-index .thread .title,
  #thread-index .thread .posts,
  #thread-index .thread .author,
  #thread-index .thread .last-author,
  #thread-index .thread .last-post {
    display: inline-block; }
  #thread-index .thread .title {
    width: 45%; }
  #thread-index .thread .posts {
    width: 10%; }
  #thread-index .thread .author {
    width: 12%; }
  #thread-index .thread .last-author {
    width: 12%; }
  #thread-index .thread .last-post {
    width: 15%;
    text-align: right; }
#thread-index .odd {
  background-color: #181818; }

.thread-title {
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
  padding: 0px 0px 15px 0px; }

.post {
  clear: both;
  padding: 5px;
  margin: 15px;
  border: 1px dotted #005500; }
  .post .body {
    float: right;
    width: 75%; }

.pagination {
  text-align: center;
  margin: 10px 0px 10px 0px; }
  .pagination a, .pagination span {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 2px 5px 2px 5px;
    margin: 2px; }
  .pagination .current {
    border: 1px solid #666666; }
