<ul class="right-nav">
  <% if @user %>
    <li>welcome, <a href=""><%= @user.name %></a></li>
    <li><a href="">log out</a></li>
  <% end %>
  <li><a href="">upload a file</a></li>
  <li>
    <input type="text" name="q" placeholder="search" />
  </li>
</ul>

<ul class="left-nav">
  <% unless @threads %>
    <li><a href="<%= threads_path %>">&laquo; return to thread index</a></li>
  <% end %>
  <li><a href="http://scul.org">scul.org</a></li>
  <li><a href="http://scul.org/HAL">HAL</a></li>
</ul>
<div class="clear"></div>