<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= @title || 'Schlitz BBS' %><%= " | #{subtitle}" if @subtitle %></title>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
</head>
<body>
	<header>
		
	</header>
	
	<div id="content">
		<%= yield %>
	</div>
	
	<footer>
		
	</footer>
</body>
</html>